html {
    font-family: "sans-serif", "Arial";
    font-size: 16px;
}
a {
    padding:0 5% 0 0;
    text-decoration: none;
}
header {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 100;
}

article { margin: 0; }
#sidebar, #content { position: absolute; top: 20%; }
#sidebar, #content { overflow: auto; padding: 10px; }

#sidebar {
    width: 200px;
    border-right: 1px solid #231F20;
    bottom: 0;
    z-index: 100;
    text-align: center;
}
#sidebar a {
    color: #6DB3F2;
}
#content {
    left: 300px;
    bottom: 0;
    right: 300px;
}
input:focus {
    background: #eaeaea;
}

.mainHref {
    background: #6DB3F2 url("/resources/images/main.png") no-repeat;
    width: 500px;
    height: 90px;
    left: 32%;
    position: relative;
    background-size: auto 90px;
    color: blue;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 10px 10px #6DB3F2;
}
.mainText {
    padding-top: 30px;
}
.warehouse {
    margin: 30px;
    border: 2px solid black;
    position: relative;
    width: 35%;
    min-width: 300px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 90px;
    color: black;
}
.warehouse p{

}

#addWarehouse {
    background: url("/resources/images/storage.png") repeat-x bottom;
    background-size: auto 100px;
}

/*#addWarehouse h3 {
    position: relative;
    font-size: 20px;
    margin-top: 0;
    font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
    text-shadow: 2px 3px 3px #292929;
    letter-spacing: 7px;
    -webkit-text-stroke: 1px white;
}
#addWarehouse h3 a {
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    text-shadow: 0 2px 0 #e9e9e9;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#addWarehouse h3 a:hover {
    color: #185a50;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.3)), to(rgba(0,0,0,1)));

}
#addWarehouse h3:after {
    color: #dbdbdb;
    content : attr(data-title);
}*/

.log {
    position: absolute;
    top: 70px;
    right: 100px;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 99%;
    height: 2.5rem;
    z-index: 100;
}

.shell {
    position: relative;
    line-height: 1; }
.shell span {
    position: absolute;
    left: 3px;
    top: 1px;
    pointer-events: none;
    z-index: -1; }
.shell span i {
    font-style: normal;
    opacity: 0;
    visibility: hidden; }
input.masked,
.shell span {
    font-size: 16px;
    font-family: monospace;
    padding-right: 10px;
    background-color: transparent;
    text-transform: uppercase; }